@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    /*outline: 1px solid red;*/
}
header{
  display: inline-flex;
  width: 100%;
  background-color: white;
}
img{
  height: 30px;
  width: 70px;
  margin: 25px 0px 25px 25px;
}
nav{
    width: auto;
    margin: 0px 0px 0px auto;
    background-color: white;
}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 200px;
    text-align: center;
}
/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    font-size: 16px;
    color: black;
    border-top: 2px solid transparent;
    padding: 30px;
}
nav a:hover{
    color: rgba(0, 101, 242);
    border-top: 2px solid rgba(0, 101, 242);
}
main{
  margin: 0px 10px 0px 10px;
  height: 1500px;
}
.container
.input{
	border: 0;
}
.search_wrap{
    display: flex;
	width: 363px;
	height: 45px;
    border: solid 2px #F2F2F2;
    border-radius: 20px 20px 20px 20px;
}
.search_wrap
.input{
    height: -webkit-fill-available;
    font-weight: bold;
    width: auto;
    padding-left: 10px;
}
.search_wrap
.btn{
	height: 100%;
	background: rgba(0, 101, 242);
	z-index: 1;
	cursor: pointer;
    width: 125px;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
    border-radius: 0px 15px 15px 0px;
}
.search_wrap
.btn:hover{
	background: #708bd2;	
}
.search_wrap
.btn.btn_common
.fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}
.search_wrap i{
    font-size: 20px;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-size: 482px;
    padding: 13px;
}

.filtreparent{
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}
    .filtre {
        background-color:transparent;
        border-radius:28px;
        border:2px solid #F2F2F2;
        display:inline-flex;
        cursor:pointer;
        color:#000000;
        font-family:Raleway;
        font-size:12px;
        text-decoration:none;
        margin-left: 20px;
        width: auto;
        height: 35px;
        align-items: center;
    }
    .filtre:hover{
        background-color: aliceblue;
    }
    a{
        text-decoration: none;
        display: inline-block;
        padding: 0px 10px 0px 10px;
    }
    a.myButton:hover {
        background-color:transparent;
    }
    a.myButton:active {
        position:relative;
        top:1px;
    }
    .filtre i{
        background-color: #DEEBFF;
        color: #0065FC;
        font-size: 15px;
        border-radius: 28px;
        text-align: center;
        padding: 11px;
    }
    .infoicone{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .infoicone p{
        margin-left: 15px;
        display: inline-flex;
    }
    .fa-solid.fa-circle-info{
        display: inline-flex;
    }

/*bloc*/
h2{
    font-size: 16px;
    width: 100%;
}
    .flex_container {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 60%;
        border-radius: 20px;
        background-color: #1c87c9;
        padding-top: 10px;
        padding-bottom: 50px;
        }
        .article1 {
        height: 100px;
        width: 150px;
        margin: 10px;
        background-color: lightgrey;
        border-radius: 20px;
        }

        .title
        .price
        .rating{
            font-size: 12px;
        }

  @media all and (max-width: 768px){

    header {
        max-width: 1024px;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        }
    img {
        height: 40px;
        width: 85px;
        margin: 25px 0px 25px 0px;
        }
    nav {
        width: 100%;
        background-color: white;
    }
    nav ul{
        list-style-type: none;
    }
    nav a{
        display: block; /*Toute la surface sera cliquable*/
        text-decoration: none;
        font-size: 16px;
        color: black;
        padding: 0px 0px 10px 0px;
        border-top: none;
    }
    nav li{
        float: left;
        width: 50%;/*100% divisé par le nombre d'éléments de menu*/
        text-align: center;/*Centre le texte dans les éléments de menu*/
        margin: 0px 0px 10px 0px;
        border-bottom: 2px solid rgb(242, 242, 242);
    }
    nav a:hover{
        border-top: none;
    }
    nav li:hover{
        color: rgba(0, 101, 242);
        border-top: none;
        border-bottom: 2px solid rgba(0, 101, 242);
    }
    main{
        margin-top: 10px;
    }
    h3{
        margin-right: 70px;
        margin-bottom: 10px;
        font-size: 20px;
        }
}
